@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply text-primary;
}

h1 {
  @apply heading text-7xl;
}
h2 {
  @apply heading text-6xl;
}
h3 {
  @apply heading text-5xl;
}
h4 {
  @apply subheading text-4xl;
}
h5 {
  @apply subheading text-3xl;
}
h6 {
  @apply subheading text-2xl;
}
nav {
  @apply sticky top-0 z-50 flex items-center justify-between bg-highlight p-8;
}
section {
  @apply relative min-h-screen w-full;
}
p {
  @apply font-canela font-light;
}

.heading {
  @apply font-apercu uppercase tracking-wider;
}
.subheading {
  @apply font-canela uppercase;
}

.gradient-animate {
  @apply bg-gradient-to-r from-red-400 via-gray-300 to-blue-500 bg-clip-text text-transparent;
  background-size: 500% auto;
  animation: gradient 8s ease-in-out infinite alternate;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
