@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply text-primary;
}

h1 {
  @apply heading text-7xl;
}
h2 {
  @apply heading text-6xl;
}
h3 {
  @apply heading text-5xl;
}
h4 {
  @apply subheading text-4xl;
}
h5 {
  @apply subheading text-3xl;
}
h6 {
  @apply subheading text-2xl;
}
nav {
  @apply sticky top-0 z-50 flex items-center justify-between bg-highlight p-8;
}
section {
  @apply relative min-h-screen w-full;
}
p {
  @apply font-canela font-light;
}

.heading {
  @apply font-apercu uppercase tracking-wider;
}
.subheading {
  @apply font-canela uppercase;
}

.gradient-animate {
  @apply animate-[gradient_8s_ease-in-out_infinite_alternate] bg-gradient-to-r from-red-400 via-gray-300 to-blue-500 bg-[500%_auto] bg-clip-text text-transparent;
}

.float-animate {
  @apply translate-y-0 animate-[float_6s_ease-in-out_infinite] overflow-hidden shadow-md;
}

.float-animate2 {
  @apply translate-y-0 animate-[float2_4s_ease-in-out_infinite] overflow-hidden shadow-md;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px) translateX(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-20px) translateX(20px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px) translateX(0px);
  }
}

@keyframes float2 {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px) translateX(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(40px) translateX(-20px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px) translateX(0px);
  }
}
